@font-face {
  font-family: "roboto_condensedregular";
  src: url("../font/RobotoCondensed/robotocondensed-regular-webfont.woff2") format("woff2"), url("../font/RobotoCondensed/robotocondensed-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto_mono";
  src: url("../font/RobotoMono/robotomono-variablefont_wght-webfont.woff2") format("woff2"), url("../font/RobotoMono/robotomono-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: roboto_mono;
}

#first-page {
  width: 331px;
  height: 445px;
  background: #5CDB95;
  margin: 11px 0px 0px 11px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: transparent;
  border-radius: 8px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}
#first-page .note {
  width: 292px;
  height: 50px;
  background: #379683;
  border: transparent;
  border-radius: 3px;
  margin: 5px 0px 0px 8px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
#first-page .note:hover {
  background: #3a9d8a;
}
#first-page .note:active {
  background: #348f7c;
}
#first-page .note .title {
  position: relative;
  top: 2px;
  left: 11px;
  font-weight: 800;
  font-size: 17px;
}
#first-page .note .date-info {
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
  margin: -25px 0px 0px 219px;
  color: #212435;
}
#first-page .note .date-info .date {
  margin: 7px 0px 0px -13px;
}
#first-page .note .date-info .time {
  margin: 0px 0px 0px 27px;
}
#first-page .note .edit-box {
  margin: 6px 0px 0px 11px;
  padding: 0px 24px 0px 8px;
  width: 240px;
  height: 25px;
  border: transparent;
  border-radius: 4px;
  outline: none;
}
#first-page .note #save-edit-title {
  position: relative;
  top: -25px;
  left: 259px;
  width: 24px;
  height: 25px;
  border-radius: 4px;
  background: transparent;
  border: transparent;
}
#first-page .note #save-edit-title ::selection {
  background: red;
}
#first-page .note #save-edit-title ::-moz-selection {
  background: red;
}
#first-page .note #save-edit-title:hover {
  background: #ccc;
}
#first-page .icons {
  margin: 15px 0px 0px -31px;
  width: 0px;
  height: 0px;
}
#first-page .icons .description-icon,
#first-page .icons .comment,
#first-page .icons .comment .comment-icon {
  position: relative;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#first-page .icons .description-icon {
  width: 24px;
  top: -26px;
  left: 152px;
}
#first-page .icons .comment {
  top: -31px;
  left: 200px;
}
#first-page .icons .comment p {
  font-weight: 700;
  margin: -50px 0px 0px 0px;
  font-size: 15px;
  color: #212435;
}
#first-page .icons .comment .comment-icon {
  width: 26px;
  top: -21px;
}

#second-page {
  width: 382px;
  height: 442px;
  background: #5CDB95;
  border: transparent;
  border-radius: 9px;
  margin: -445px 0px 0px 8px;
  padding: 4px 0px 0px 4px;
  display: none;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}
#second-page #title-icon,
#second-page #desc-header p,
#second-page #desc-header #desc-icon,
#second-page #desc-dropdown,
#second-page #comment-dropdown,
#second-page #comment-header p,
#second-page #comment-icon {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#second-page #title-info {
  margin: 0px 0px 11px 0px;
}
#second-page #title-info #title-icon {
  width: 30px;
}
#second-page #title-info #title-text {
  width: 341px;
  background: transparent;
  font-size: 17px;
  font-weight: 700;
  outline: none;
  margin: -32px 0px 6px 36px;
  display: block;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#second-page #desc-info #desc-header {
  margin: 0px 0px 33px -3px;
}
#second-page #desc-info #desc-header p {
  margin: 0px 0px -18px 36px;
  font-size: 18px;
  font-weight: 600;
}
#second-page #desc-info #desc-header #desc-icon {
  width: 33px;
  margin: -20px 0px 0px 0px;
}
#second-page #desc-info #desc-header #desc-dropdown {
  position: relative;
  top: -5px;
  left: 129px;
  transform: rotate(180deg);
}
#second-page #desc-info #desc-header #desc-dropdown:hover {
  cursor: pointer;
  background: #ccc;
  border-radius: 20px;
}
#second-page #desc-info #desc-text {
  border-radius: 9px;
  padding: 6px 5px 5px 7px;
  display: block;
  line-height: 20px;
  width: 363px;
  min-height: 100px;
  max-height: 115px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 13px;
  position: relative;
  top: -31px;
  left: 2px;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#second-page #comment-info {
  position: relative;
  top: -17px;
}
#second-page #comment-info #comment-header {
  margin: -9px 0px 41px 0px;
}
#second-page #comment-info #comment-header p {
  font-size: 18px;
  font-weight: 600;
  margin: 0px 0px -17px 34px;
}
#second-page #comment-info #comment-header #comment-icon {
  width: 30px;
  margin: -17px 0px 0px 0px;
}
#second-page #comment-info #comment-header #comment-dropdown {
  position: relative;
  top: -5px;
  left: 87px;
  transform: rotate(180deg);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#second-page #comment-info #comment-header #comment-dropdown:hover {
  cursor: pointer;
  background: #ccc;
  border-radius: 20px;
}
#second-page #comment-info #comment-container {
  width: 374px;
  height: 130px;
  position: relative;
  top: -39px;
  left: 2px;
  border-radius: 8px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #3FBB77;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#second-page #comment-info #comment-container .comment-data {
  width: 337px;
  border-radius: 5px;
  padding: 15px 0px 0px 6px;
  margin: 6px 0px 0px 5px;
  overflow-wrap: break-word;
  background: #379683;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#second-page #comment-info #comment-container .comment-data .comment-date-info {
  position: relative;
  top: -14px;
}
#second-page #comment-info #comment-container .comment-data .comment-date-info .comment-time {
  margin: -16px 0px 0px 75px;
}
#second-page #comment-info #comment-container .comment-data .comment-text {
  position: relative;
  top: -7px;
  left: 8px;
}
#second-page #comment-info #comment-container .comment-data img {
  position: absolute;
  top: 6px;
  left: 325px;
  margin: 0px;
  padding: 0px;
  width: 13px;
}
#second-page #comment-info #comment-container .comment-data img:hover {
  background: #ccc;
  cursor: pointer;
}

#add-comment-active {
  width: 371px;
  position: relative;
  top: -40px;
  left: 3px;
}
#add-comment-active #new-comment-text {
  border-radius: 9px;
  padding: 7px 0px 5px 6px;
  margin: 0;
  display: block;
  width: 369px;
  min-height: 25px;
  max-height: 46px;
  position: relative;
  top: -1px;
  left: -1px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 5px 0px 10px 0px;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#add-comment-active button {
  display: inline;
  position: absolute;
  top: -32px;
  left: 155px;
  border: none;
  width: 24px;
  height: 24px;
  background: transparent;
}
#add-comment-active button:hover {
  background: #ccc;
  cursor: pointer;
}

#add-comment-not-active {
  position: relative;
  top: -43px;
  left: 2px;
}
#add-comment-not-active #new-comment-text {
  border-radius: 9px;
  display: block;
  padding: 7px 0px 5px 6px;
  margin: 0px 0px 5px 0px;
  height: 19px;
  width: 369px;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#add-comment-not-active button {
  display: none;
}

.page-read-mode #desc-text,
.page-read-mode #new-comment-text,
.page-read-mode #title-text {
  text-shadow: 0px 0px black;
  color: transparent;
  cursor: default;
}
.page-read-mode #desc-text,
.page-read-mode #new-comment-text {
  background: #3FBB77;
}
.page-read-mode #title-text {
  border: none;
  border-bottom: solid 3px #3FBB77;
}

.page-edit-mode #desc-text,
.page-edit-mode #new-comment-text,
.page-edit-mode #title-text {
  text-shadow: 0px 0px transparent;
  color: black;
  cursor: auto;
}
.page-edit-mode #desc-text,
.page-edit-mode #new-comment-text {
  background: white;
}
.page-edit-mode #title-text {
  border: none;
  border-bottom: solid 3px white;
}

.page-write-mode #desc-text,
.page-write-mode #new-comment-text,
.page-write-mode #title-text {
  text-shadow: 0px 0px transparent;
  color: black;
  cursor: auto;
}
.page-write-mode #desc-text,
.page-write-mode #new-comment-text {
  background: white;
}
.page-write-mode #title-text {
  border: none;
  border-bottom: solid 3px white;
}

#control-btns .no-page,
#control-btns .write-page,
#control-btns .read-page,
#control-btns .edit-page {
  position: absolute;
  top: 463px;
}
#control-btns .no-page #save-btn,
#control-btns .no-page #saveAs-btn,
#control-btns .no-page #clear-btn,
#control-btns .no-page #edit-btn {
  display: none;
}
#control-btns .write-page #save-btn {
  left: 81px;
}
#control-btns .write-page #clear-btn {
  left: 208px;
}
#control-btns .write-page #edit-btn,
#control-btns .write-page #saveAs-btn {
  display: none;
}
#control-btns .read-page #edit-btn {
  display: block;
  left: 149px;
}
#control-btns .read-page #save-btn,
#control-btns .read-page #clear-btn,
#control-btns .read-page #saveAs-btn {
  display: none;
}
#control-btns .edit-page #save-btn {
  display: block;
  left: 12px;
}
#control-btns .edit-page #clear-btn {
  display: block;
  left: 289px;
}
#control-btns .edit-page #saveAs-btn {
  display: block;
  left: 149px;
}
#control-btns .edit-page #edit-btn {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  width: 352px;
  height: 500px;
  background: #8EE4AF;
}

#note-option-menu {
  display: none;
  width: 100px;
  background: #3ba18d;
  position: absolute;
  z-index: 1;
  border: transparent;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#note-option-menu button {
  width: inherit;
  height: 22px;
  background: none;
  border: none;
  font-size: 14px;
  color: #191818;
}
#note-option-menu button:hover {
  background: #ccc;
  font-weight: 900;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

#create-note-btn,
#clear-btn,
#edit-btn,
#save-btn,
#saveAs-btn {
  width: 95px;
  height: 28px;
  display: block;
  background: #379683;
  position: absolute;
  border: transparent;
  border-radius: 7px;
  font-size: 15px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}
#create-note-btn:hover,
#clear-btn:hover,
#edit-btn:hover,
#save-btn:hover,
#saveAs-btn:hover {
  background: #ccc;
  font-weight: 700;
}

#create-note-btn {
  display: block;
  left: 133px;
  top: 462px;
}

#cover-layer {
  display: none;
  width: 352px;
  height: 500px;
  background: #00000029;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

#are-u-sure {
  display: none;
  width: 169px;
  height: 65px;
  background: #3ba18d;
  position: absolute;
  z-index: 2;
  top: 173px;
  left: 91px;
  border: transparent;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#are-u-sure p {
  font-size: 15px;
  font-weight: 600;
  margin: 0px 0px 0px 29px;
  text-decoration: underline;
}
#are-u-sure button {
  position: absolute;
  width: 73px;
  height: 29px;
  border: transparent;
  border-radius: 2px;
  top: 30px;
  left: 9px;
  background: #389a86;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#are-u-sure button:hover {
  background: #ccc;
  font-weight: 900;
  cursor: pointer;
}
#are-u-sure #no {
  left: 87px;
}

/**********************************/
::-webkit-scrollbar {
  width: 22px;
}

::-webkit-scrollbar-track {
  background-color: #47d687;
  border-radius: 0px 8px 8px 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #54AE7D;
  border: 6px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #62b588;
  cursor: pointer;
}

/**********************************/

/*# sourceMappingURL=main.css.map */
