#first-page {
	width: 331px;
	height: 445px;
  background: $_page;

  margin: 11px 0px 0px 11px;

	overflow-y: scroll;
	overflow-x: hidden;

  border: transparent;
	border-radius: 8px;

  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
	.note {
		width: 292px;
		height: 50px;
    background: $_note;

		border: transparent;
		border-radius: 3px;

    margin: 5px 0px 0px 8px;

		@include disable-text-selection;

    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    cursor: pointer;

    &:hover{
      background: lighten($_note,2%);
    }
    &:active{
      background: darken($_note,2%);
    }
  	.title {
			position: relative;
			top: 2px;
			left: 11px;

			font-weight: 800;
			font-size: 17px;
		}
		.date-info {

			font-size: 13px;
			line-height: 15px;
      font-weight: 600;

			margin: -25px 0px 0px 219px;
			color: #212435;
			.date {
				margin: 7px 0px 0px -13px;
			}
			.time {
				margin: 0px 0px 0px 27px;
			}
		}
		.edit-box {
			margin: 6px 0px 0px 11px;
			padding: 0px 24px 0px 8px;
			width: 240px;
			height: 25px;
			border: transparent;
			border-radius: 4px;
			outline: none;

		}
		#save-edit-title {
			position: relative;
			top: -25px;
			left: 259px;
			width: 24px;
			height: 25px;
			border-radius: 4px;
			background: transparent;
			border: transparent;

			::selection { background: red; }
			::-moz-selection { background: red; }

			&:hover {
				background: #ccc;
			}
		}

	}
	.icons {
    margin: 15px 0px 0px -31px;
		width: 0px;
		height: 0px;

		.description-icon,
    .comment,
    .comment .comment-icon{
      position: relative;
			@include disable-text-selection;
    }

    .description-icon {
      width: 24px;

      top: -26px;
      left: 152px;
    }
    .comment {
      top: -31px;
      left: 200px;
      p {
        font-weight: 700;
        margin: -50px 0px 0px 0px;
        font-size: 15px;
        color: #212435;
      }
      .comment-icon {
        width: 26px;

        top: -21px;
      }
    }
	}
}
