@use "sass:color";
@import "shared";
@import "fonts";
@import "first-page";
@import "second-page";


* {
	margin: 0;
	padding: 0;
}
html {
	width: 352px;
	height: 500px;
	background: $_main;
}

#note-option-menu {
	display: none;
	width: 100px;
	background: lighten($_note,3%);
	position: absolute;
	z-index: 1;

	border: transparent;
	border-radius: 5px;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

	button{
		width: inherit;
		height: 22px;
		background: none;
		border: none;
		font-size: 14px;
		color: #191818;

		&:hover {
			background: #ccc;
			font-weight: 900;
			filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));

		}

	}
}

#control-btns {

	#create-note-btn,
	#cancel-btn,
	#save-btn {
		width: 95px;
		height: 28px;

		background: $_note;

		position: absolute;
		top: 462px;

		border: transparent;
		border-radius: 7px;

		font-size: 15px;

		filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
		cursor: pointer;
		display:none;

		&:hover{
			background: #ccc;
			font-weight: 700;
		}
	}

	#create-note-btn {
		display:block;
		left: 133px;
	}
	#cancel-btn {
		left: 208px;
	}
	#save-btn {
		left: 81px;
	}

}


//scroleBar
/**********************************/
::-webkit-scrollbar {
	width: 22px;
}
::-webkit-scrollbar-track {
	background-color: darken($_page, 5%);
	border-radius: 0px 8px 8px 0px;
}
::-webkit-scrollbar-thumb {
      background-color: #54AE7D;
      border: 6px solid transparent;
      border-radius: 10px;
      background-clip: content-box;
	&:hover {
		background-color: lighten(#54AE7D, 4%);
		cursor: pointer;
	}
}
/**********************************/
